/*Variety page*/
:root{
	--vermelho: #E50914; 
	--preta: #141414;
	--branco: #FFF;
}
/*Reset page*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*Property page*/
body{
	background: var(--preta);
	font-family: 'Times New Roman', Times, serif;
	color: white;
}
/*Class*/
header .container{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
header .logo{
	margin-left: 20px;
	color: var(--vermelho);
	font-family: 'Arial Black', Times;
	font-size: 40px;
}
header nav a{
	text-decoration: none;
	color: #AAA;
	margin-right: 10px;
}
header nav a:hover{
	color: var(--branco);
}
.menu{
	margin-right: 20px;
}
/*Class filmes*/
.filme-principal{
	font-size: 16px;
	background: linear-gradient(rgba(0, 0, 0, .50),rgba(0, 0, 0,.50)100%), url('../img/filmes/Mulan/mulan_2.jpg');
	height:900px;	
	background-size: cover/;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
.filme-principal .descricao{
	margin-bottom: 90px;
}
.titulo{
	font-size: 70px;
}
/*ID's*/

